{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <div class="container">

            <h1>Tous les containers</h1>

            <a href="{{ path('container_new') }}" class="btn btn-success"><i class="fa fa-plus mr-2"></i>Ajouter un Container</a>
            <a href="{{ path('product_container_new') }}" class="btn btn-secondary"><i class="fa fa-plus mr-2"></i>Mettre un produit dans un container</a>

            <table class="table mt-5">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Couleur</th>
                    <th>ContainerModel</th>
                    <th>ContainerShip</th>
                    <th>Voir</th>
                </tr>
                </thead>

                {% for container in containers %}
                    <tr>
                        <th scope="row">{{ container.id }}</th>
                        <td>{{ container.color }}</td>
                        <td>{{ container.containerModel }}</td>
                        <td>{{ container.containerShip }}</td>
                        <td><a href="{{ path('container_info', { 'id' : container.id }) }}" class="btn btn-primary"><i class="fa fa-eye mr-2"></i>Voir</a></td>
                    </tr>
                {% endfor %}

            </table>

        </div>
    </section>

{% endblock %}