{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <div class="container">

            <h1>Tous les container ships</h1>

            <a href="{{ path('containership_new') }}" class="btn btn-success"><i class="fa fa-plus mr-2"></i>Ajouter un ContainerShip</a>

            <table class="table mt-5">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Nom du capitaine</th>
                    <th>Limite</th>
                    <th>Voir</th>
                </tr>
                </thead>

                {% for containerShip in containerShips %}
                    <tr>
                        <th scope="row">{{ containerShip.id }}</th>
                        <td>{{ containerShip.name }}</td>
                        <td>{{ containerShip.captainName }}</td>
                        <td>{{ containerShip.containerLimit }}</td>
                        <td><a href="{{ path('containership_info', { 'id' : containerShip.id }) }}" class="btn btn-primary"><i class="fa fa-eye mr-2"></i>Voir</a></td>
                    </tr>
                {% endfor %}

            </table>

        </div>
    </section>

{% endblock %}